#pagecancha article section img {
  width: 270px;
  margin: 1.5em 12% 1em 8%;
}
#pagecancha article section #cuadrado2 {
  background-color: #128c30;
  margin-left: 220px;
  margin-top: -40px;
  width: 20px;
  height: 27px;
  position: absolute;
}
#pagecancha article section #logocancha2 img {
  margin-top: -20px;
  margin-left: 5px;
  background-color: #fff;
  border: 2px solid #000;
  width: 60px;
  border-radius: 50%;
  position: absolute;
}
